---
import NosotrosLayout from "../layouts/NosotrosLayout.astro";
---


<NosotrosLayout title="blog">
    <section class="px-12 mt-20">
            <img class="rounded-2xl object-cover w-full h-[500px] shadow-lg" src="/clinica-1.jpg" alt="">
            <div class="text-slate-700 w-4/6 m-auto py-16">
                <h1 class="text-slate-900 text-6xl mb-8">Título del post</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur error nobis, quisquam, harum ratione porro totam officiis voluptas esse earum impedit, accusamus possimus nesciunt dolor eum doloremque labore iste? Ducimus.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur error nobis, quisquam, harum ratione porro totam officiis voluptas esse earum impedit, accusamus possimus nesciunt dolor eum doloremque labore iste? Ducimus.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur error nobis, quisquam, harum ratione porro totam officiis voluptas esse earum impedit, accusamus possimus nesciunt dolor eum doloremque labore iste? Ducimus.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur error nobis, quisquam, harum ratione porro totam officiis voluptas esse earum impedit, accusamus possimus nesciunt dolor eum doloremque labore iste? Ducimus.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur error nobis, quisquam, harum ratione porro totam officiis voluptas esse earum impedit, accusamus possimus nesciunt dolor eum doloremque labore iste? Ducimus.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur error nobis, quisquam, harum ratione porro totam officiis voluptas esse earum impedit, accusamus possimus nesciunt dolor eum doloremque labore iste? Ducimus.</p>
            </div>
    </section>
</NosotrosLayout>