---
import NosotrosLayout from "../layouts/NosotrosLayout.astro";
---


<NosotrosLayout title="blog">
    <section class="px-12 mb-32">   
        <div class="text-center w-3/5 mx-auto mt-20">
            <h1 class="text-slate-900 text-6xl mb-8">El blog de la salud y el movimiento</h1>
            <p class="text-slate-900">Descubre artículos, consejos y novedades sobre fisioterapia, ejercicio terapéutico, nutrición y bienestar. Información útil y basada en la evidencia para que cuides tu cuerpo y mejores tu rendimiento</p>
        </div>  
        <div class="grid grid-cols-12 gap-x-8 gap-y-12 mt-16">
            <a href="/blog" class="col-span-4">
                <div class="h-[220px] w-full overflow-hidden rounded-2xl">
                    <img class=" h-full w-full object-cover hover:scale-[1.1] duration-300" src="/clinica-2.jpg" alt="">
                </div>
                <h3 class="text-2xl mt-4">Titulo del post</h3>
                <span class="text-md text-slate-700">2/02/2025</span>
            </a>
            <div class="col-span-4">
                <img class="rounded-2xl h-[220px] w-full object-cover" src="/clinica-2.jpg" alt="">
                <h3 class="text-2xl mt-4">Titulo del post</h3>
                <span class="text-md text-slate-700">2/02/2025</span>
            </div>
            <div class="col-span-4">
                <img class="rounded-2xl h-[220px] w-full object-cover" src="/clinica-2.jpg" alt="">
                <h3 class="text-2xl mt-4">Titulo del post</h3>
                <span class="text-md text-slate-700">2/02/2025</span>
            </div>
            <div class="col-span-4">
                <img class="rounded-2xl h-[220px] w-full object-cover" src="/clinica-2.jpg" alt="">
                <h3 class="text-2xl mt-4">Titulo del post</h3>
                <span class="text-md text-slate-700">2/02/2025</span>
            </div>
            <div class="col-span-4">
                <img class="rounded-2xl h-[220px] w-full object-cover" src="/clinica-2.jpg" alt="">
                <h3 class="text-2xl mt-4">Titulo del post</h3>
                <span class="text-md text-slate-700">2/02/2025</span>
            </div>
            <div class="col-span-4">
                <img class="rounded-2xl h-[220px] w-full object-cover" src="/clinica-2.jpg" alt="">
                <h3 class="text-2xl mt-4">Titulo del post</h3>
                <span class="text-md text-slate-700">2/02/2025</span>
            </div>
        </div>       
    </section>
</NosotrosLayout>