---
import Layout from "../layouts/Layout.astro"
---


<Layout title="Política de privacidad">
    <section class="py-12 bg-white">
        <div class="w-5/6 m-auto">
            <h1 class="text-slate-900 text-4xl mb-6">POLÍTICA DE PRIVACIDAD</h1>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
            <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam sit rem praesentium atque, sequi ullam natus fugit cum, doloribus architecto! Quibusdam repudiandae libero dolorum obcaecati perspiciatis nemo at harum!</p>
        </div>
    </section>

</Layout>