<section style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),url('../../pesas.jpg')" class="w-full bg-cover bg-fixed h-screen flex items-center rounded-2xl">
    <div class="w-5/6 m-auto">
        <div class="w-full md:w-3/5 lg:2/5">
            <h3 class="text-blue-400 text-4xl mb-8">DAVID BOSCÀ MARÍ</h4>
            <p class="mb-3 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptate natus corporis nihil quia inventore. Facere itaque sunt animi consectetur quod! Unde recusandae praesentium ex in vel, id expedita commodi.</p>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptate natus corporis nihil quia inventore. Facere itaque sunt animi consectetur quod! Unde recusandae praesentium ex in vel, id expedita commodi.</p>

        </div>
    </div>
</section>