<style>

    @keyframes fadeIn {
        to {
            opacity : 1;
        }
    }

    .animationVisible {
        animation : 1s linear fadeIn;
        animation-fill-mode: forwards;
    }
    .animationVisible2 {
        animation-delay: 0.2s;
    }
    .animationVisible3 {
        animation-delay: 0.4s;
    }
    .animationVisible4 {
        animation-delay: 0.6s;
    }

</style>

<section style={{backgroundColor: '#0c0c1d', borderTopLeftRadius : '16px', borderTopRightRadius : '16px'}} class="py-20 border-b-2 border-white" id="contacto">
    <div id="observableElementForm" class="w-5/6 mx-auto">
    <h2 class=" text-white text-4xl mb-12 ">CONTACTO</h2>
    <p class="text-white mb-10">Déjanos tu mensaje y nos pondremos en contacto contigo lo antes posible</p>
    <div>
    <form action="">
        <div class="grid grid-cols-4 sm:gap-12">
        <div class="col-span-4 sm:col-span-2">
        <div id="primerElementoForm" class="flex flex-col mb-5 gap-1 opacity-0">
            <label class="text-blue-300" for="nombre">Nombre</label>
            <input name="name" class="outline-none border-solid border-2 text-white border-white bg-transparent px-1 py-1.5 rounded-md" name="nombre" type="text">
        </div>

        <div id="segundoElementoForm" class="flex flex-col gap-1 opacity-0">
            <label class="text-blue-300" for="email">Email</label>
            <input name="email" class="outline-none border-solid border-2 text-white border-white bg-transparent px-1 py-1.5 rounded-md" name="email" type="text">
        </div>
    </div>

        <div id="tercerElementoForm" class="col-span-4 sm:col-span-2 flex h-[200px] sm:h-full flex-col my-5 sm:mt-0 gap-1 opacity-0">
            <label class="text-blue-300" for="mensaje">Mensaje</label>
            <textarea name="mensaje" class="outline-none resize-none h-full text-white border-solid border-2 border-white bg-transparent px-1 py-1.5 rounded-md" name="mensaje"></textarea>
        </div>
    </div>
    <div id="cuartoElementoForm" class="opacity-0">
        <input class="mt-5" type="checkbox" required id="privacidad">
        <label class="mt-5 text-white" for="privacidad">He leido y acepto la <a class="text-white" href="/privacidad">política de privacidad</a></label>
        <button class="rounded-xl block bg-blue-400 duration-500 px-8 mt-5 py-4 text-slate-900 font-bold hover:-translate-y-[4px]">ENVIAR</button>
    </div>
    </form>
</div>
</div>

<script>
    const observableElement = document.getElementById('observableElementForm')
    const first = document.getElementById('primerElementoForm')
    const second = document.getElementById('segundoElementoForm')
    const third = document.getElementById('tercerElementoForm')
    const fourth = document.getElementById('cuartoElementoForm')
    let options = {
    root: document.querySelector("#scrollArea"),
    rootMargin: "0px",
    threshold: 0.7,
};

let observer = new IntersectionObserver((entries)=>{
    const entry =  entries[0]
    if (entry.isIntersecting){
        first.classList.add('animationVisible')
        second.classList.add('animationVisible', 'animationVisible2')
        third.classList.add('animationVisible', 'animationVisible3')
        fourth.classList.add('animationVisible', 'animationVisible4')

    }
}, options);

observer.observe(observableElement)

</script>
</section>