<!-- <style>
   .foto {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    } 

</style> -->

<!-- style={{backgroundColor : '#0c0c1d'}} -->

<section  class="py-20 bg-blue-200 rounded-2xl">
    <div class="w-5/6 m-auto">
    <h3 class="text-4xl mb-20 text-white">OTROS SERVICIOS</h3>
    <div class="">
        <div class="rounded-2xl flex gap-12">
            <img class="rounded-2xl h-[300px] w-full object-cover foto" src="/david.jpg" alt="">
            <div>
                <h4 class="text-2xl mt-6 mb-4 text-slate-900">ENTRENAMIENTO</h4>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum id facilis aliquam, repudiandae blanditiis facere omnis voluptas nostrum numquam minus eos temporibus distinctio culpa? Sint, non ratione. Ipsa, blanditiis.</p>
                <a class="bg-slate-900 text-white mt-4 py-4 px-8 rounded-xl inline-block duration-500 px-8 mt-5 py-4 font-bold hover:-translate-y-[4px]" href=``>MÁS INFORMACIÓN</a>
            </div>
        </div>
        <div class="rounded-2xl flex gap-12 mt-12">
            <img class="rounded-2xl h-[300px] w-full object-cover" src="/david.jpg" alt="">
            <div>
                <h4 class="text-2xl mt-6 mb-4 text-slate-900">ASESORAMIENTO NUTRICIONAL</h4>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum id facilis aliquam, repudiandae blanditiis facere omnis voluptas nostrum numquam minus eos temporibus distinctio culpa? Sint, non ratione. Ipsa, blanditiis.</p>
                <a class="bg-slate-900 text-white mt-4 py-4 px-8 rounded-xl inline-block duration-500 px-8 mt-5 py-4 font-bold hover:-translate-y-[4px]" href=``>MÁS INFORMACIÓN</a>
            </div>
        </div>
    </div>
</div>
</section>