<style>

    @keyframes fadeIn {
        to {
            opacity : 1;
        }
    }

    .animationVisible {
        animation : 1s linear fadeIn;
        animation-fill-mode: forwards;
    }
    .animationVisible2 {
        animation-delay: 0.2s;
    }
    .animationVisible3 {
        animation-delay: 0.4s;
    }

</style>


<section id="otros-servicios" class="grid grid-cols-12 rounded-2xl">
    <div class="col-span-0 md:col-span-5 h-full">
        <img id="img-logo" class="hidden md:block opacity-0 text-white h-full rounded-2xl" src="../logo-oscuro.jpg" alt="">
    </div>
    <div class="col-span-12 md:col-span-7 bg-blue-100 flex flex-col justify-center gap-12 rounded-2xl px-16 py-16 md:py-0">
        <div id="entrenamiento" class="opacity-0">
            <h3 class="text-2xl mb-6">ENTRENAMIENTO PERSONAL</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis asperiores eveniet qui eaque eos nobis excepturi corporis incidunt? Sed repellat consequuntur eius fugit tenetur! Perspiciatis consequatur est in a aut.</p>
            <a style={{backgroundColor: '#0c0c1d'}} class="text-white mt-4 py-4 px-8 rounded-xl inline-block duration-500 px-8 mt-5 py-4 font-bold hover:-translate-y-[4px]" href=``>MÁS INFORMACIÓN</a>
        </div>
        <div id="nutricion" class="opacity-0">
            <h3 class="text-2xl mb-6">ASESORAMIENTO NUTRICIONAL</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis asperiores eveniet qui eaque eos nobis excepturi corporis incidunt? Sed repellat consequuntur eius fugit tenetur! Perspiciatis consequatur est in a aut.</p>
            <a style={{backgroundColor: '#0c0c1d'}} class="text-white mt-4 py-4 px-8 rounded-xl inline-block duration-500 px-8 mt-5 py-4 font-bold hover:-translate-y-[4px]" href=``>MÁS INFORMACIÓN</a>
        </div>
    </div>









    <script>
        const observableElement = document.getElementById('otros-servicios')
        const first = document.getElementById('img-logo')
        const second = document.getElementById('entrenamiento')
        const third = document.getElementById('nutricion')
        let options = {
        root: document.querySelector("#scrollArea"),
        rootMargin: "0px",
        threshold: 0.4,
    };
    
    let observer = new IntersectionObserver((entries)=>{
        const entry =  entries[0]
        if (entry.isIntersecting){
            first.classList.add('animationVisible')
            second.classList.add('animationVisible', 'animationVisible2')
            third.classList.add('animationVisible', 'animationVisible3')
        }
    }, options);
    
    observer.observe(observableElement)
    
    </script>
</section>