<!-- <style>
   .foto {
    box-shadow: rgba(96,165,250, 0.2) 0px 18px 50px -10px;
    } 
</style> -->


<section style={{backgroundColor : '#0c0c1d'}} class="py-20 rounded-2xl">
    <div class="w-5/6 m-auto">
    <h3 class="text-4xl mb-20 text-white">OTROS SERVICIOS</h3>
    <div class="flex gap-12 flex-col md:flex-row">
        <!-- <div class="">
            <img class=" foto rounded-2xl h-[300px] w-full object-cover" src="/david.jpg" alt="">
            <div class=""> 
                <h4 class="text-xl mt-6 mb-4 text-blue-400">ASESORAMIENTO NUTRICIONAL</h4>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum id facilis aliquam, repudiandae blanditiis facere omnis voluptas nostrum numquam minus eos temporibus distinctio culpa? Sint, non ratione. Ipsa, blanditiis.</p>
                <a class="bg-white text-blue-400 font-bold mt-4  py-4 px-8 rounded-xl inline-block" href="">MÁS INFORMACIÓN</a>
            </div>
        </div>
        <div class="w-full h-[4px] sm:w-[4px] sm:h-full self-center bg-blue-300"></div>

        <div class="">
            <img class="rounded-2xl h-[300px] w-full object-cover" src="/david.jpg" alt="">
            <div class=""> 
                <h4 class="text-xl mt-6 mb-4 text-blue-400">ASESORAMIENTO NUTRICIONAL</h4>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum id facilis aliquam, repudiandae blanditiis facere omnis voluptas nostrum numquam minus eos temporibus distinctio culpa? Sint, non ratione. Ipsa, blanditiis.</p>
                <a class="bg-blue-500 text-white mt-4 py-4 px-8 rounded-xl inline-block" href=``>MÁS INFORMACIÓN</a>
            </div>
        </div> -->

        <div class="border-2 border-white rounded-2xl p-6">
            <img class="rounded-2xl h-[300px] w-full object-cover" src="/david.jpg" alt="">

            <h4 class="text-xl mt-6 mb-4 text-blue-400">ENTRENAMIENTO</h4>

                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum id facilis aliquam, repudiandae blanditiis facere omnis voluptas nostrum numquam minus eos temporibus distinctio culpa? Sint, non ratione. Ipsa, blanditiis.</p>
                <a style={{color : '#0c0c1d'}}class="bg-blue-500 text-white mt-4 py-4 px-8 rounded-xl inline-block duration-500 px-8 mt-5 py-4 font-bold hover:-translate-y-[4px]" href=``>MÁS INFORMACIÓN</a>
        </div>
        <div class="border-2 border-white rounded-xl p-6">
            <h4 class="text-xl mb-4 text-blue-400">ASESORAMIENTO NUTRICIONAL</h4>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum id facilis aliquam, repudiandae blanditiis facere omnis voluptas nostrum numquam minus eos temporibus distinctio culpa? Sint, non ratione. Ipsa, blanditiis.</p>
                <a style={{color : '#0c0c1d'}}class="bg-blue-500 text-white mt-4 py-4 px-8 rounded-xl inline-block duration-500 px-8 mt-5 py-4 font-bold hover:-translate-y-[4px]" href=``>MÁS INFORMACIÓN</a>
        </div>
    </div>
</div>
</section>