<section>
    <div class="w-5/6 m-auto py-12">
        <h2 class="text-4xl mb-12">CASOS DE ÉXITO</h2>
        <div class=" flex flex-col-reverse md:grid md:grid-cols-4 gap-10">
            <div class="md:col-span-2">
                <p>Nos enorgullecemos de los resultados que hemos logrado con nuestros pacientes. Cada caso de éxito es un testimonio de nuestra dedicación, experiencia y enfoque personalizado en la fisioterapia. Desde deportistas que han vuelto a competir tras lesiones, hasta pacientes que han recuperado la calidad de vida después de cirugías o dolencias crónicas, nuestro equipo ha estado al lado de cada uno de ellos en su camino hacia la recuperación. Estos casos son prueba de que, con el tratamiento adecuado y un enfoque integral, la recuperación es posible.</p>
                <a style={{backgroundColor: '#0c0c1d'}} href="/casos" class="rounded-full hover:-translate-y-[4px] duration-500 py-4 px-8 inline-block font-bold text-white mt-8">VER TODOS</a>
            </div>
        <video class="rounded-2xl h-full md:col-span-2" controls src="../primer-edit.mp4"></video>
    </div>
    </div>
</section>