<section>
    <div class="w-5/6 m-auto py-12">
        <h2 class="text-4xl mb-12">CASOS DE ÉXITO</h2>
        <div class=" flex flex-col-reverse md:grid md:grid-cols-4 gap-10">
            <div class="md:col-span-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptate facere, corporis dicta nemo nesciunt maiores aspernatur illum quas, voluptatem tenetur nihil quaerat, dolorem quam. Ipsam voluptas corporis voluptatibus harum.</p>
                <a style={{backgroundColor: '#0c0c1d'}} href="/casos" class="rounded-xl hover:-translate-y-[4px] duration-500 py-4 px-8 inline-block font-bold text-white mt-8">VER TODOS</a>
            </div>
        <video class="rounded-2xl md:col-span-2" controls src="../primer-edit.mp4"></video>
    </div>
    </div>
</section>