
<div class="col-span-2">
    <div class="w-full h-full">
        <img class="w-full h-full object-cover" src="../../servicio.jpg" alt=""/>
    </div>
</div>
<div class="col-span-4">
    <div>
        <h4 class="text-slate-900">servicio 1</h4>
    </div>
    <div>
        <h4 class="text-slate-900">servicio 2</h4>
    </div>
    <div>
        <h4 class="text-slate-900">servicio 3</h4>
    </div>
    <div>
        <h4 class="text-slate-900">servicio 4</h4>
    </div>
</div>    
</section>