---
const { servicio : {nombre, colegiado, descripcion, id} } = Astro.props;

---

<article class="mb-[100px]">
    <div class="h-[350px] ">
        <img class="w-full h-full bg-cover rounded-2xl" src="../pesas.jpg" alt="">
    </div>
    <h3 class="text-blue-500 text-2xl mt-4 mb-2">Nombre del fsio</h3>
    <p class="text-slate-900">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est vel voluptatum vero quia cumque dolores molestias possimus consequatur repellendus tempore ut, impedit dignissimos maiores quasi illo commodi tempora quisquam aut.</p>
</article>