<div class="h-[160vh] w-screen p-12 grid grid-cols-12 grid-rows-12 gap-4">
    <div class="col-span-4 row-span-8">
        <img class="rounded-2xl w-full h-full object-cover shadow-lg" src="/grid-1.jpg" alt="">
    </div>
    <div class="col-span-5 row-span-3 shadow-lg">
        <img class="rounded-2xl w-full h-full object-cover" src="/grid-2.jpg" alt="">
    </div>
    <div class="col-span-3 row-span-3 shadow-lg">
        <img class="rounded-2xl w-full h-full object-cover" src="/grid-3.jpg" alt="">
    </div>
    <div class="col-span-4 row-span-5 shadow-lg">
        <img class="rounded-2xl w-full h-full object-cover" src="./grid-4.jpg" alt="">
    </div>
    <div class="col-span-4 row-span-5 shadow-lg">
        <img class=" rounded-2xl w-full h-full object-cover" src="./grid-5.jpg" alt="">
    </div>
    <div class="col-span-6 row-span-4 shadow-lg">
        <img class="rounded-2xl w-full h-full object-cover" src="./grid-6.jpg" alt="">
    </div>
    <div class="col-span-6 row-span-4 shadow-lg">
        <img class="rounded-2xl w-full h-full object-cover" src="./grid-7.jpg" alt="">
    </div>
</div>