



<style>
    
    @keyframes anim {
        from {opacity: 0;}
        to {opacity: 100;}
    }

    .titulo, .main-btn{
        animation-name: anim;
        animation-duration: 0.5s;
    }


    .img-animation{
        animation-name: anim;
        animation-duration: 3s;
    }

    .hero{
        height: 85vh;
    }

    .titulo{
        color: #0c0c1d;
    }

    .hero-container{
        justify-content: space-between
    }

    @media screen and (max-width:768px){
        /* .titulo {
            color : rgb(147 197 253);
        } */

        .h1-animation{
            width: 100vw;
            background-color: rgba(255,255,255, 0.9);
            padding:12px;
            position:absolute;
            top:20%;
            left: auto;
        }
    }

    @media screen and (max-width:600px){
        .hero{
            height :75vh;
        }
    }

</style>


<section class="hero w-full flex items-center relative">
    <div class="hero-container flex h-full items-center w-full flex-row justify-end md:justify-center">
        <div class="img-animation h-full">
            <img class="hidden md:block text-white h-full rounded-2xl" src="../logo-oscuro.jpg" alt="">
        </div>
        <div class="h1-animation z-10 md:top-0 md:left-0 md:relative md:p-0 text-left md:text-center">
            <h1 class="titulo text-4xl md:text-6xl mb-6 font-bold">PHYSIOENFORMA</h1>
            <h2 class="md:text-2xl text-md mb-6 text-blue-400">Tu salud en manos de los mejores profesionales</h2>
            <a style={{backgroundColor: '#0c0c1d'}} class="main-btn rounded-xl inline-block md:inline text-white py-4 px-8 font-bold duration-500 hover:-translate-y-[4px]" target='_blank' href="https://wa.me/34644514110">
                PEDIR CITA
            </a>
        </div>
        <div class="img-animation h-full">
            <img style={{transform: "scaleX(-1)"}} class="text-white md:opacity-100 h-full rounded-2xl" src="../logo-oscuro.jpg" alt="">
        </div>
    </div>
    
</section>