<style>

    @keyframes fadeIn {
        to {
            opacity : 1;
        }
    }

    .animationVisible {
        animation : 1s linear fadeIn;
        animation-fill-mode: forwards;
    }
    .animationVisible2 {
        animation-delay: 0.2s;
    }
    .animationVisible3 {
        animation-delay: 0.4s;
    }
    .animationVisible4 {
        animation-delay: 0.6s;
    }

</style>


<section>
    <h2 class="mt-20 mb-16 text-4xl ">CONÓCENOS</h2>
        <div class="grid grid-cols-12 rounded-2xl h-[500px]">
            <div id="intro" class="col-span-12  md:col-span-7 bg-blue-100 flex flex-col justify-center gap-12 rounded-2xl px-16 py-16 md:py-0">
                <div>
                    <p class="opacity-0 mb-6" id="primer-parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis asperiores eveniet qui eaque eos nobis excepturi corporis incidunt? Sed repellat consequuntur eius fugit tenetur! Perspiciatis consequatur est in a aut.</p>        
                    <p class="opacity-0 mb-6" id="segundo-parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis asperiores eveniet qui eaque eos nobis excepturi corporis incidunt? Sed repellat consequuntur eius fugit tenetur! Perspiciatis consequatur est in a aut.</p>
                    <p class="opacity-0" id="tercer-parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis asperiores eveniet qui eaque eos nobis excepturi corporis incidunt? Sed repellat consequuntur eius fugit tenetur! Perspiciatis consequatur est in a aut.</p>
                </div>
            </div>

            <div class="col-span-0 md:col-span-5 h-[500px]">
                <img id="img-intro" class="hidden h-full w-full md:block opacity-0 object-cover rounded-2xl" src="../david.jpg" alt="">
            </div>
        </div>
    


    <script>
        const observableElement = document.getElementById('intro')
        const first = document.getElementById('img-intro')
        const second = document.getElementById('primer-parrafo')
        const third = document.getElementById('segundo-parrafo')
        const fourth = document.getElementById('tercer-parrafo')
        let options = {
        root: document.querySelector("#scrollArea"),
        rootMargin: "0px",
        threshold: 0.4,
    };
    
    let observer = new IntersectionObserver((entries)=>{
        const entry =  entries[0]
        if (entry.isIntersecting){
            first.classList.add('animationVisible')
            second.classList.add('animationVisible', 'animationVisible2')
            third.classList.add('animationVisible', 'animationVisible3')
            fourth.classList.add('animationVisible', 'animationVisible4')
        }
    }, options);
    
    observer.observe(observableElement)
    
    </script>
</section>