<section>
    <div class="grid grid-cols-12 gap-6 ">
        <img class="rounded-2xl col-span-5 h-[70vh] object-cover w-full" src="../david.jpg" alt="">
        <div class="col-span-7 py-4">
            <h2>Un mundo lleno de beneficios</h2>
             <p>Descubre la gran cantidad de beneficios que ofrece la fisioterapia</p>
            <div class="grid grid-cols-4 gap-6">
                <div class="col-span-2">
                    <h3>BIENESTAR</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, maiores. Consequuntur aliquam incidunt repellat expedita ipsum ut. Blanditiis ab fugiat voluptates, amet quia sed est numquam voluptate, consequatur, velit fuga?</p>
                </div>
                <div class="col-span-2">
                    <h3>MOVIMIENTO</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, maiores. Consequuntur aliquam incidunt repellat expedita ipsum ut. Blanditiis ab fugiat voluptates, amet quia sed est numquam voluptate, consequatur, velit fuga?</p>
                </div>
                <div class="col-span-2">
                    <h3>AUTONOMÍA</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, maiores. Consequuntur aliquam incidunt repellat expedita ipsum ut. Blanditiis ab fugiat voluptates, amet quia sed est numquam voluptate, consequatur, velit fuga?</p>
                </div>
                <div class="col-span-2">
                    <h3>FUNCIONALIDAD</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, maiores. Consequuntur aliquam incidunt repellat expedita ipsum ut. Blanditiis ab fugiat voluptates, amet quia sed est numquam voluptate, consequatur, velit fuga?</p>
                </div>
            </div>
        </div>
    </div>
</section>