<section class="mt-32 min-h-[100vh] relative">
    <div class="lg:w-5/6 m-auto gap-6 text-center">
        <div class="py-4">
            <div class="mb-20">
                <h2 class="text-slate-900 text-5xl">Un mundo lleno de beneficios</h2>
            </div>
            <div class="w-2/5 m-auto p-6 relative">                   
                <p class="text-gray-700">Descubre la gran cantidad de beneficios que ofrece la fisioterapia. Recupera la capacidad de realizar tareas esenciales y actividades específicas según tus necesidades personales.</p>
                <div class="absolute h-[250px] w-[250px] top-[20px] left-[-280px]">
                    <img class="h-full w-full object-contain" src="/logo4.png" alt="">
                    <h3 class="text-xl text-slate-700">Autonomía</h3>
                </div>
    
                <div class="absolute w-[250px] h-[250px]  rounded-xl top-[20px] right-[-280px]">
                    <img class="h-full w-full object-contain" src="/logo1.png" alt="">
                    <h3 class="text-xl text-slate-700">Funcionalidad</h3>
                </div>
                <div class="absolute h-[250px] w-[250px] bottom-[-250px] left-[-50px]">
                    <img class="h-full w-full object-contain" src="/logo2.png" alt="">
                    <h3 class="text-xl text-slate-700">Bienestar</h3>
                </div>
                <div  class="absolute w-[250px] h-[250px] bottom-[-250px] right-[-50px]">
                    <img class="h-full w-full object-contain" src="/logo3.png " alt="">
                    <h3 class="text-xl text-slate-700">Movimiento</h3>
                </div>
            </div>
        </div>
    </div>
</section>