<section class="mt-32 min-h-[100vh] relative">
    <div class="lg:w-5/6 m-auto gap-6 text-center">
        <div class="py-4">
            <div class="mb-20">
                <h2 class="text-slate-900 text-5xl mb-2">Un mundo lleno de beneficios</h2>
                <p class="text-slate-700">Descubre la gran cantidad de beneficios que ofrece la fisioterapia</p>
            </div>
            <div class="w-2/5 m-auto p-6">                   
                <p class="text-gray-700">Recupera la capacidad de realizar tareas esenciales y actividades específicas según tus necesidades personales.</p>
                <p class="text-gray-700">Recupera la capacidad de realizar tareas esenciales y actividades específicas según tus necesidades personales.</p>
            </div>
            <div class="absolute h-[250px] w-[250px] bottom-[220px] left-[80px]">
                <img class="h-full w-full object-contain" src="/logo4.png" alt="">
                <h3 class="text-xl text-slate-700">Autonomía</h3>
            </div>

            <div class="absolute w-[250px] h-[250px]  rounded-xl bottom-[220px] right-[80px]">
                <img class="h-full w-full object-contain" src="/logo1.png" alt="">
                <h3 class="text-xl text-slate-700">Funcionalidad</h3>
            </div>
            <div class="absolute h-[250px] w-[250px] bottom-0 left-[350px]">
                <img class="h-full w-full object-contain" src="/logo2.png" alt="">
                <h3 class="text-xl text-slate-700">Bienestar</h3>
            </div>
            <div  class="absolute w-[250px] h-[250px] bottom-0 right-[350px]">
                <img class="h-full w-full object-contain" src="/logo3.png " alt="">
                <h3 class="text-xl text-slate-700">Movimiento</h3>
            </div>
        </div>
    </div>
</section>