<section class="mt-32 mb-40">
    <div class="lg:w-4/6 m-auto gap-6 text-center">
        <div class="py-4">
            <div class="mb-20">
                <h2 class="text-5xl mb-2">Un mundo lleno de beneficios</h2>
                <p class="text-slate-700">Descubre la gran cantidad de beneficios que ofrece la fisioterapia</p>
            </div>
            <div class="grid md:grid-cols-4 gap-6">
                <div class="border bg-slate-300 border-slate-200 p-6 shadow-lg rounded-xl col-span-2">
                    <div class="flex justify-center">                    
                        <img src="/logo4.png" class="w-1/2 h-[200px]" alt="">
                    </div>
                    <h3 class="text-2xl mb-2 text-slate-900">Bienestar</h3>
                    <p class="text-slate-700">Más que una recuperación física, buscamos que te sientas bien contigo mismo, promoviendo un equilibrio entre cuerpo y mente.</p>
                </div>
                <div class="translate-y-[80px] border border-slate-200 p-6 shadow-lg col-span-2 rounded-xl">
                    <div class="flex justify-center">                    
                        <img src="/logo3.png" class="w-1/2 h-[200px]" alt="">
                    </div>                    
                    <h3 class="text-2xl mb-2 text-slate-900">Movimiento</h3>
                    <p class="text-slate-700">El movimiento es vida. Trabajamos contigo para mejorar tu capacidad de moverte con libertad, fluidez y sin dolor.</p>
                </div>
                <div class="border border-slate-200 shadow-lg p-6 col-span-2 rounded-xl">
                    <div class="flex justify-center">                    
                        <img src="/logo2.png" class="w-1/2 h-[200px]" alt="">
                    </div>                    
                    <h3 class="text-2xl mb-2 text-slate-900">Autonomía</h3>
                    <p class="text-slate-700">Recupera tu independencia y realiza tus actividades diarias sin limitaciones. Nuestro objetivo es ayudarte a ser autosuficiente y a disfrutar plenamente de tu vida.</p>
                </div>
                <div class="translate-y-[80px] border border-slate-200 p-6 col-span-2 shadow-lg rounded-xl">
                    <div class="flex justify-center">                    
                        <img src="/logo5.png" class="w-2/5 h-[200px]" alt="">
                    </div>                    
                    <h3 class="text-2xl mb-2 text-slate-900">Funcionalidad</h3>
                    <p class="text-slate-700">Recupera la capacidad de realizar tareas esenciales y actividades específicas según tus necesidades personales.</p>
                </div>
            </div>
        </div>
    </div>
</section>