<nav class="absolute w-full top-0 left-0 px-12 py-4 z-40 grid grid-cols-12 items-end">
    <span class="text-xl col-span-4 justify-self-start text-slate-900 font-bold">Clínica Physioenforma</span>
    <ul class="text-slate-700 col-span-4  flex gap-4">
        <li class="hover:cursor-pointer hover:text-slate-400 duration-300">
            <a href="/#">Nosotros</a>
        </li>
        <li class="hover:cursor-pointer hover:text-slate-400  duration-300">
            <a href="/#">Nuestra clínica</a>
        </li>
        <li class="hover:cursor-pointer hover:text-slate-400 duration-300">
            <a href="/#">Servicios</a>
        </li>
        <li class="hover:cursor-pointer hover:text-slate-400 duration-300">
            <a href="/#">Contacto</a>
        </li>
    </ul>
</nav>