<nav class="px-12 py-6 flex items-end w-full z-50 absolute gap-8 left-0 top-0 justify-start">
    <a style="line-height : 28px" href="/" class="text-xl text-slate-700"><img src="./" alt="">Clínica Physioenforma</a>
    <!-- <ul class="text-slate-900 flex gap-4 items-end">
        <li class="hover:cursor-pointer hover:text-slate-300 duration-300">
            <a href="/#">Nosotros</a>
        </li>
        <li class="hover:cursor-pointer hover:text-slate-400  duration-300">
            <a href="/#">Nuestra clínica</a>
        </li>
        <li class="hover:cursor-pointer hover:text-blue-200 duration-300">
            <a href="/#">Servicios</a>
        </li>
        <li class="hover:cursor-pointer hover:text-blue-200 duration-300">
            <a href="/#">Contacto</a>
        </li>
    </ul> -->
</nav>