<nav class="w-full fixed top-0 left-0 bg-white px-12 py-4 flex justify-between">
    <a href="/" class="text-2xl text-slate-900">Clínica Physioenforma</a>
    <ul class="text-slate-700 flex gap-4">
        <li class="hover:cursor-pointer hover:text-slate-400 duration-300">
            <a href="/#">Nosotros</a>
        </li>
        <li class="hover:cursor-pointer hover:text-slate-400  duration-300">
            <a href="/#">Nuestra clínica</a>
        </li>
        <li class="hover:cursor-pointer hover:text-slate-400 duration-300">
            <a href="/#">Servicios</a>
        </li>
        <li class="hover:cursor-pointer hover:text-slate-400 duration-300">
            <a href="/#">Contacto</a>
        </li>
    </ul>
</nav>