---

---

<nav style="justify-content:space-between" class="flex items-center relative px-16">
	<span class="text-xl">PHYSIOENFORMA</span>
	<ul class=" py-6 gap-4 flex flex-row">
		<li class="text-white hover:cursor-pointer hover:text-blue-400 transition duration-300"><a href="/">HOME</a></li>
		<li class="text-white hover:cursor-pointer hover:text-blue-400 transition duration-300">NOSOTROS</li>
		<li class="text-white hover:cursor-pointer hover:text-blue-400 transition duration-300"><a href="#contacto">SERVICIOS</a></li>
		<li class="text-white hover:cursor-pointer hover:text-blue-400 transition duration-300"><a href="#contacto">CONTACTO</a></li>
	</ul>

</nav>
