

<section class="relative"> 
    <video class="rounded-2xl bg-cover w-full h-screen" autoplay loop muted src="../video.mp4"></video>
    <div class="bg-black opacity-50 absolute top-0 bottom-0 z-20 w-full h-screen"></div>

</section>
