<section style={{backgroundColor: '#0c0c1d'}} class="py-[60px] rounded-2xl">
    <div class="w-5/6 mx-auto">
    <h2 class="text-4xl mb-8 text-white">TARIFAS</h3>
    <div class="flex items-center flex-col gap-16 relative sm:flex-row">    
        <div>
            <div class="flex flex-col items-center">
                <img class="w-1/4" src="../physio.svg" alt="no se ve">
                <h3 class="text-blue-300 text-xl mt-4"> Sesión Fisioterapia</h3>
                <span class="text-white" >35€</span>            
            </div>
        </div>
        <div class="w-full h-[4px] sm:w-[4px] sm:h-[200px] self-center bg-blue-300"></div>
        <div class="flex flex-col items-center">
            <img class="w-1/4" src="../regalo.svg" alt="no se ve">
            <h3 class="text-blue-300 text-xl mt-4">Bono 4 sesiones</h3>
            <span class="text-white" >100€</span>
        </div>
        <div class="w-full h-[4px] sm:w-[4px] sm:h-[200px] self-center bg-blue-300"></div>
        <div class="flex flex-col items-center">
            <img class="w-1/4" src="../basket.svg" alt="">
            <h3 class="text-blue-300 text-xl mt-4">Miembros Gandia Basket</h3>
            <span class="text-white" >30€</span>
        </div>
    </div>
</div>
</section>