<style>

    @keyframes fadeIn {
        to {
            opacity : 1;
        }
    }

    .animationVisible {
        animation : 1s linear fadeIn;
        animation-fill-mode: forwards;
    }
    .animationVisible2 {
        animation-delay: 0.2s;
    }
    .animationVisible3 {
        animation-delay: 0.4s;
    }

</style>




<section id="observableElement" style={{backgroundColor: '#0c0c1d'}} class="p-14 shadow-xl mx-4 mt-20 rounded-2xl">
    <div>
    <h2 class="text-5xl text-center mb-16 text-white">Bonos y tarifas pensados para ti</h3>
    <div class="grid grid-cols-12 gap-10 relative">    
        <div id="primerElemento" class="col-span-4 text-center p-6 rounded-xl border border-slate-800 opacity-0 items-end">
            <div class="flex gap-4 items-end justify-center">
                <img class="w-[40px]" src="../physio.svg" alt="">
                <h3  class="text-2xl text-slate-200"> Sesión Fisioterapia</h3>
            </div>
            <p class="text-slate-400 mt-4">Disfruta de 45 minutos de tratamiento personalizado, ideal para aliviar el dolor y mejorar tu bienestar.</p>
            <span class="text-white block text-2xl mt-6 " >35€</span>            
        </div>
        <div id="segundoElemento" class="col-span-4 p-6 text-center rounded-xl border border-slate-800 opacity-0 items-center">
            <div class="flex gap-4 items-end justify-center">
                <img class="w-[30px]" src="../regalo.svg" alt="no se ve">
                <h3 class="text-2xl text-slate-200 ">Bono 4 sesiones</h3>
            </div>
            <p class="text-slate-400 mt-4">Ahorra con nuestro bono de 4 sesiones, perfecto para tratamientos continuados y una recuperación óptima</p>
            <span class="text-white block text-2xl mt-6 ">100€</span>
        </div>
        <div id="tercerElemento" class="col-span-4 text-center p-6 rounded-xl border border-slate-800 opacity-0 items-center">
            <div class="flex gap-4 justify-center items-end">
                <img class="w-[30px]" src="../basket.svg" alt="">
                <h3 class="text-2xl text-slate-200 ">UPB Gandia y CD Jávea</h3>
            </div>
            <p class="text-slate-400 mt-4">Si eres miembro del UPB Gandía o del CD Jávea, cuida tu rendimiento con sesiones a precio reducido</p>
            <span class="text-slate-200 block text-2xl mt-6" >30€</span>
        </div>
    </div>
</div>

<script>
    const observableElement = document.getElementById('observableElement')
    const first = document.getElementById('primerElemento')
    const second = document.getElementById('segundoElemento')
    const third = document.getElementById('tercerElemento')
    let options = {
    root: document.querySelector("#scrollArea"),
    rootMargin: "0px",
    threshold: 0.2,
};

let observer = new IntersectionObserver((entries)=>{
    const entry =  entries[0]
    if (entry.isIntersecting){
        first.classList.add('animationVisible')
        second.classList.add('animationVisible', 'animationVisible2')
        third.classList.add('animationVisible', 'animationVisible3')
    }
}, options);

observer.observe(observableElement)

</script>
</section>