---
import {tratamientosInfo} from'../../public/tratamientos.js'
import Entrenamiento from './Entrenamiento.astro'
import Tratamiento from "./Tratamiento.astro"
---


<section id="servicios" class="bg-white">
    <div class="w-5/6 mx-auto py-20">
    <h2 class="text-4xl text-slate-800">FISIOTERAPIA</h2>
    <p class="text-slate-900 text-lg mt-4">En FisioEnForma, nos dedicamos a brindarte una atención integral para recuperar y mejorar tu bienestar físico. Con la ayuda de nuestro equipo de fisioterapeutas altamente calificados, te proporcionaremos tratamientos personalizadoS. Descubre cómo podemos ayudarte a sentirte en tu mejor forma física</p>
    <div class="grid grid-cols-12 w-full mx-auto gap-x-5 gap-y-12 py-10">
        {
            tratamientosInfo.map((t)=>{
                return  <Tratamiento servicio={t}/>
            })
        }
    </div>
</div>
    
</section>