<style>
    .contenedor{
        width: 100%;
        margin:auto;
        height: 560px;
        overflow:hidden;
        display:flex;
        justify-content: center;
        position:relative
    }

    .slider{
        width: 100%;
        height: 400px;
        position:relative
    }

    .buttons{
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        bottom:180px;
        display: flex;
        gap:20px;
        z-index:20
    }

    .btn{
        font-size:40px;
        height: 40px;
        width:40px;
        background-color:rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0;
        transition:0.2s
    }

    .btn:hover{
        background-color:rgba(0, 0, 0, 0.4);
    }

    .slides{
        position:absolute;
        border-radius:16px;
        background:var(--img) ;
        background-size:cover;
        background-position:center;
        transition:0.5s;
        width: calc(25% - 2px);
        height: 140px;
        bottom: -160px;
        top: initial;
        z-index:10
    }

    @media screen and (max-width:768px){
        .slider{
            height: 300px;
        }
        .slides{
            height: 100px;
            bottom: -110px
        }
        .buttons{
            bottom : 310px;
        }   

        .contenedor{
            height: 460px
        }
    }

    @media screen and (max-width:480px){
        .slides{
            height: 60px;
            bottom: -70px

        }
    }


    .slides:nth-child(1),
    .slides:nth-child(2){
        left:0;
        width: 100%;
        height: 100%;
        transform: translateY(0);
        top:initial;
        bottom:0;
        
    }

    .slides:nth-child(3){
        left:0;
    }
    .slides:nth-child(4){
        left:calc(25%);
    }
    .slides:nth-child(5){
        left:calc(50%);
    }
    .slides:nth-child(6){
        left:calc(75%);
    }
    

</style>

<section class="mt-32">
    <h2 class="w-5/6 m-auto text-5xl text-center mb-20 text-slate-900">Descubre nuestra clínica</h2>
    <div class="grid grid-cols-10 gap-x-8 w-5/6 m-auto">
    <div class="contenedor col-span-10 md:col-span-6">
        <div id="slider" class="slider">
            <div class="slides shadow-lg" style="--img : url(../../clinica-1.jpg)">
            </div>
            <div class="slides shadow-lg" style="--img : url(../../clinica-david-3.jpg)">
            </div>
            <div class="slides shadow-lg" style="--img : url(../../clinica-david-4.jpg)">
            </div>
            <div class="slides shadow-lg" style="--img : url(../../clinica-david-6.jpg)">
            </div>
            <div class="slides shadow-lg" style="--img : url(../../clinica-4.jpeg)">
            </div>
            <div class="slides shadow-lg" style="--img : url(../../clinica-2.jpg)">
            </div>
        </div>
        <div class="buttons">
            <button id="before-btn" class="btn rounded-full"><img class="text-red-700" src="../left.svg" alt=""></button>
            <button id="after-btn" class="btn text-slate-900 rounded-full"><img src="../right.svg" alt=""></button>
        </div>
    </div>
    <div class="col-span-10 md:col-span-4">
        <p class="text-slate-700">Al llegar a nuestra clínica en Bellreguard, te recibirá nuestra acogedora recepción, diseñada para que te sientas cómodo desde el primer momento.</p>
        <p class="text-slate-700 mt-3">Disponemos de una sala de fisioterapia, equipada con una camilla moderna, herramientas especializadas y tecnología avanzada para realizar evaluaciones y tratamientos personalizados.</p>
        <p class="text-slate-700 mt-3">También contamos con área dedicada exclusivamente a ejercicios terapéuticos, con todo el equipamiento necesario para apoyar tu proceso de recuperación. Aquí, trabajamos en mejorar tu rendimiento físico, ayudándote a prevenir lesiones y alcanzar tus metas deportivas</p>
        <h3 class="mt-6">HORARIO:</h3>
        <span class="mt-1 inline-block text-slate-700">Lunes a Viernes: 10:00h a 14:00h y 16:00h a 20:00h</span>
        <h3 class="mt-6">TELÉFONO:</h3>
        <span class="mt-1 inline-block text-slate-700">
            644 51 41 10
        </span>
        <h3 class="mt-6">DIRECCIÓN:</h3>
        <span class="mt-1 inline-block text-slate-700">
            Carrer Rei en Jaume 8, Bellreguard
        </span>
    </div>
</div>
</section>

<script>
    let previousBtn = document.getElementById('before-btn')
    let nextBtn = document.getElementById('after-btn')
    let slider = document.getElementById('slider')

    nextBtn.addEventListener('click', function(){
        let slides = document.querySelectorAll('.slides')
        slider.append(slides[0])
    })

    previousBtn.addEventListener('click', function(){
        let slides = document.querySelectorAll('.slides')
        console.log('hola')
        slider.prepend(slides[slides.length - 1])
    })
</script>