<section class="h-screen relative flex items-center">
    <div style={{backgroundColor: '#0c0c1d'}} class=" rounded-2xl">
        <div class="w-5/6 m-auto">
            <div class="h-[460px] w-1/6 sm:w-2/6 md:w-3/6 flex flex-col items-left justify-center">
                <h3 class="text-blue-400 text-4xl mb-6">DAVID BOSCÀ MARÍ</h3>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem rerum error aliquid molestiae pariatur nam quibusdam? Officia modi deserunt ratione facere! Dolor debitis eos totam illum molestias minus consequatur nisi?</p>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem rerum error aliquid molestiae pariatur nam quibusdam? Officia modi deserunt ratione facere! Dolor debitis eos totam illum molestias minus consequatur nisi?</p>
                <div class="flex gap-4 mt-4">
                    <div class="w-[50px] h-[50px] transition duration-300 flex items-center justify-center hover:cursor-pointer">
                        <img src="../facebook.svg" alt="">
                    </div>
                    <div class="transition duration-300 w-[50px] h-[50px] flex items-center justify-center hover:cursor-pointer">
                        <img class="w-[30px]" src="../instagram.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <img style={{right: '8vw', top : '50%', transform: 'translateY(-50%)'}} class="w-[400px] absolute h-[500px] object-cover object-bottom rounded-2xl" src="../david.jpg" alt="">

    </div>
</section>