---
const { servicio : {id, titulo, descripcionCorta, img} } = Astro.props;

---

<article class="col-span-12 sm:col-span-6 md:col-span-4">
    <div>
        <img class="rounded-2xl h-[300px] w-full object-cover" src={img} alt="">
        <h4 class="text-blue-400 text-2xl mt-6 mb-4">{titulo}</h4>
        <p class="mb-4">{descripcionCorta}</p>
    <a class="bg-slate-900 text-white py-4 px-8 rounded-xl inline-block duration-500 px-8 mt-5 py-4 font-bold hover:-translate-y-[4px]" href=`/tratamiento/${id}`>MÁS INFORMACIÓN</a>
</article>