@keyframes navAnimation {
    from {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        padding-top: 18px;
        padding-bottom:18px;
        font-size: 24px
    }

    to {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px
    }
}


@keyframes textAnimation {
    from {
        font-size: 20px
    }

    to {
        font-size: 16px
    }
}

.anim{
    animation: navAnimation linear both;
}

.textAnim {
    animation: textAnimation linear both
}


.anim, .textAnim{
    animation-timeline: scroll(root);
    animation-range: 0 100px;
}
