---
const { span, titulo, background, bgImage } = Astro.props;
---

<article style=`background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),${bgImage}; background-size:cover` class={`${span} ${background} flex flex-col bg-fixed justify-center px-8`}>
    <h1 class="text-4xl mb-4">{titulo}</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam odit consequuntur, quasi porro maxime deleniti ullam tempore quibusdam ad, temporibus tempora modi iste delectus harum fugit aliquid nam qui nulla.</p>
</article>