---
import GridItem from './GridItem.astro'
---

<section class="grid grid-cols-4 w-full auto-rows-[30rem]">
    <!-- <GridItem bgImage="url(../../basket.jpg)" span="col-span-4" background="bg-sky-900" titulo="grnade"/> -->
    <GridItem bgImage="url(../../basket.jpg)" span="col-span-2" background="bg-cyan-900" titulo="pequeñp"/>
    <GridItem bgImage="url(../../futbol.jpg)" span="col-span-2" background="bg-sky-950" titulo="pequeno"/>
</section>