---
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.astro';
import Whatsapp from '../components/Whatsapp.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-white flex px-2 sm:px-10 py-2 justify-between">
			<span style="color: #a5c4df" class="text-sm sm:text-lg">C/ Rei en Jaume I 8, Bellreguard</span>
			<span style="color: #a5c4df" class="text-sm sm:text-lg">Tlf: 644 51 41 10</span>
		</div>
		<Navbar client:load/>
		<slot />
		<Footer/>
		<Whatsapp/>
	</body>
</html>
<!-- <style is:global>


</style>  -->
